tr:nth-child(odd) td:nth-child(even){
    background-color: gray;
}
table{
    border-collapse: collapse;
    margin: auto;
}
tr td{
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 1px solid white;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: gray;
}
img{
    width: 100%;
}
main{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-areas: 
"h h h"
"a a n"
"a a n"
"f f f";
}


header{
    grid-area: h;
    border-bottom: 1px solid black;
    text-align: center;
}
article{
    grid-area: a;
    border: 1px solid black;
    border-radius: 5px;
}


nav{
    grid-area: n;
    border: 1px solid black;
    border-radius: 5px;
}

nav ul{
    list-style-type: none;

    
}

nav a{
    text-decoration: none;
    display: block;
    width: 50%;
    background-color: royalblue;
    color: cornsilk;
}

li a:hover {
    background-color: #555;
    color: rgb(252, 252, 252);
  }


footer{
    grid-area: f;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}




@media screen and (max-width: 600px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "a"
        "a"
        "f";
    }
  }